<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4DTrrL8oTEDzHcTkScX3wkkRgeuZ98K4</string>
	<key>GCM_SENDER_ID</key>
	<string>812173241771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nawasena.acualert.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>acualert-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>acualert-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812173241771:ios:c9cb5881f0d2e810eab6ee</string>
</dict>
</plist>